.sing-form{
    background-color: white;
    padding: 10px;
    justify-content: center;
    width: 300px;
    margin: auto;
}
.sing-form input{
    width: 100%;
}
.sing-form button{
    padding: 5px 20px;
    width: 100%;
}
.form-container{
    text-align: center;
    align-items: center;
    width: 300px;
    padding:0 20px;
}
.login-header-info{
    font-size: 20px;
    font-weight: bold;
}
.social-btn{
    background-color: white;
    color: black;
    padding: 10px 20px;
    width: 300px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-weight: 700;
}
.or-icon{
    margin-top: 20px;
}
.icon-img{
    width: 20px;
    margin-right: 50px;
}